:root {
    /* Colours */
    --color-text: #ffff;
    --color-primary: #229a50;
    --color-secondary: #063f11;
    --color-dark: #022a07;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
}